# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Environment
.env
.venv/
venv/

# Ollama / Langchain cache
__pypackages__/
.cache/
